@model List<OrderListModel>
<h1>   Orders</h1>


<hr>


@foreach (var item in Model)
{
    <table class="table table-bordered table-sm mb-3">


        <thead class="bg-primary">
            <tr>
                <td colspan="2"> OrderId:#@item.OrderNumber</td>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in item.OrderItems)
            {
                <tr>
                    <td>
                        <img src="/img/@orderItem.ImageUrl" alt="" width="50px">
                    </td>
                    <td>
                        @orderItem.Name
                    </td>
                    <td>
                        @orderItem.Price.ToString("c")
                    </td>
                    <td>
                        @orderItem.Quantity
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"> Customer Name</td>
                <td>@item.FirstName @item.LastName</td>
                <td rowspan="6">Total: @item.TotalPrice()</td>
            </tr>
            <tr>
                <td colspan="2"> Address:</td>
                <td>@item.Address</td>
            </tr>
            <tr>
                <td colspan="2"> Email:</td>
                <td>@item.Email</td>
            </tr>
            <tr>
                <td colspan="2"> Phone:</td>
                <td>@item.Phone</td>
            </tr>
            <tr>
                <td colspan="2"> Order Status:</td>
                <td>@item.OrderState</td>
            </tr>
            <tr>
                <td colspan="2"> Paymet Type:</td>
                <td>@item.PaymentType</td>
            </tr>
        </tfoot>

    </table>
}
