@model CategoryModel
<h1 class="h3">Edit Category</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="EditCategory" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <input type="hidden" asp-for="Id">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Url" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Url" class="form-control">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">

                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-primary">Save Category</button>
                </div>
            </div>
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <input type="hidden" name="Products[@i].ProductId" value="@Model.Products[@i].ProductId">
                <input type="hidden" name="Products[@i].ImageUrl" value="@Model.Products[@i].ImageUrl">
                <input type="hidden" name="Products[@i].Price" value="@Model.Products[@i].Price">
                <input type="hidden" name="Products[@i].IsApproved" value="@Model.Products[@i].IsApproved.ToString()">
                <input type="hidden" name="Products[@i].Name" value="@Model.Products[@i].Name">
            }
        </form>
    </div>
    <div class="col-md-8">

        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <td style="width:30px">Id</td>
                    <td style="width:30px">Image</td>
                    <td>Name</td>
                    <td style="width:30px">Price</td>
                    <td style="width:20px">Is Approved</td>
                    <td style="width:150px"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count > 0)
                {
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td> <img src="~/img/@item.ImageUrl" width="80px"> </td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                           
                            <td style="width:20px">
                                @if (item.IsApproved)
                                {
                                    <i class="fa-solid fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-circle-xmark"></i>
                                }
                            </td>
                            <td>
                                <a href="/admin/products/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>

                                <form action="/admin/DeletefromCategory" style="display:inline;" method="post">
                                    <input type="hidden" value="@item.ProductId" name="ProductId">
                                    <input type="hidden" value="@Model.Id" name="CategoryId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        No Product
                    </div>
                }

            </tbody>
        </table>
 
</div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}